@use 'variaveis';

.button {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 18px;
  letter-spacing: 2px;
  color: variaveis.$corTextoSecundario;
  background-color: #6421ff;
  text-transform: uppercase;
  border-radius: 4px;
  margin-top: 2vw;
  margin-bottom: .5vw;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: lighten(#6421ff, 5%);
  }
}