@use 'variaveis';

.footer {
  &__container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    @media (max-width: 768px) {
      padding: 0 6vw 3vw;
    }
  }

  &__logo {
    width: 100px;
    margin: 0 auto 10px;
  }

  &__links {

    &__item {
      list-style: none;

      &--disney-rights {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {
          flex-direction: column;
        }

        .language-selector {
          display: flex;
          align-items: center;
        }
      
        img {
          height: 18px;
          width: 18px;
          margin-right: 5px;
        }
      
        select {
          background-color: transparent;
          border: none;
          color: variaveis.$corTextoPrincipal;
      
          &:hover {
            color: variaveis.$corTextoSecundario;
          }
        }
      }
    }
  }
}
