@use 'variaveis';

.hero {
  padding: 5.6vw;
  background-image: url("/dist/images/hero\ _banner.png");
  background-repeat: no-repeat;
  background-position: right top;
  margin-bottom: 3.5vw;

  @media (max-width: 1024px) {
    background-image: url("/dist/images/bannerMobile.png");
    background-size: contain;
    background-position: center top;
    max-width: 80%;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    margin-top: 20vw;
    padding: 25vw;
  }
  
  &__content {
    max-width: 20%;
    text-align: center;
    
    @media (max-width: 1024px) {
      display: none;
    }

    img {
      margin: 0 auto;
      width: 100%;
      border-radius: 8px;
    }
  }
}
