.info {
  margin-bottom: 5.6vw;

  h2 {
    text-align: center;
  } 

  
  @media (max-width: 1024px) {
    h2 {
      margin: 8vw;
    }
  }

  @media (max-width: 768px) {
    h2 {
      margin: vw;
    }
  }
  
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vw;

    @media (max-width: 768px) {
      margin-bottom: 20vw;

      &--image-right {
        flex-direction: column-reverse;

        img {
          align-self: flex-end;
        }
      }
      
      &--image-left {
        flex-direction: column;
        
        img {
          align-self: flex-start;
        }
      }
    }

    &__text {
      padding: 3vw;

      @media (max-width: 768px) {
        padding: 5vw;
      }

      h3 {
        margin-bottom: 2vw;
      }
    }
  }
}