.info {
  margin-bottom: 5.6vw;
  
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vw;

    &__text {
      padding: 3vw;

      h2 {
        margin-bottom: 2vw;
      }
    }
  }
}